html, body {
    width: 100%;
    height: 100%;
    margin: 0;

}

.control-row {
    width: 100%;
    height: 80px;
    max-height: 80px;
    margin: 0;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    text-align: center;
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
}

video {
    max-width: 100%;
    max-height: 100%;
    /*object-fit: cover;*/
    background-color: black;
}

.client-container {
    position: relative;
    flex: 1 1 500px;
}

.client-container * {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.self-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #2d2d2d;
    border: 1px solid #222;
    border-radius: 5px;
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.self-container video {
    position: absolute;
}

.members-container {
    color: #fff;
    background: #696969;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

.members-list-container {
    max-width: 500px;
    min-width: 30%;
    background: white;
    height: 100%;
    z-index: 8;
}

.client-name-container:hover {
    border: 1px solid #ccc;
    background: rgba(0,0,0,0.3);
}

.client-name-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name-container, .action-container {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: none;
}


.audio-only-member .action-container, .audio-only-member .name-container {
    display: flex;
}
